<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="DVX3 Backup Manager" Language="1033" Version="1.0.0"
           Manufacturer="DVX3 Project" UpgradeCode="59C8E1E0-7094-48C7-82AA-F29F95547E08">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of DVX3 is already installed."/>
    <MediaTemplate EmbedCab="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="DVX3"/>
      </Directory>
    </Directory>
    <Feature Id="MainFeature" Title="DVX3 Backup Manager" Level="1">
      <ComponentGroupRef Id="Dvx3Files"/>
    </Feature>
  </Product>
</Wix>
