# Generated C sources — non tracked in git
build/
gen-c/
*.o
*.a
*.so*
*.dll
*.dylib
*.exe

# Build artifacts
cli-build/
.cmake_cache
CMakeCache.txt

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# macOS artifacts
.DS_Store
